@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

.App {
    text-align: center;
  }

:root{
    --black: #0D0C0F;
    --dark-grey: #1E1F23;
    --light-grey: #27292D;
    --extra-light-grey: #757575;
    --light-text: #FFFFFF;
    --orange: #E99B05;
    --blue: #00416A;
    --green: #40F647;
    --purple: #DC03FF;

    --side-nav-width: 90px;
    --lg-breakpoint-header-height: 220px;
    --xl-breakpoint-header-height: 120px;
}

  .ApexApp{
    height: 100vh;
    overflow: none;
    background-color: var(--dark-grey);
    color: var(--light-text);
    font-family: 'Kanit', sans-serif;
  }

  .Dashboard{
    background-color: var(--dark-grey);
    height: 100vh;
    width: calc(100% - var(--side-nav-width));
    position: fixed;
    /* border: 3px solid orange; */
    margin-left: var(--side-nav-width);
    padding: 15px 15px 15px 15px; 
    transition: margin 0.3s;
  }

  .SideNav{
    position: fixed;
    width: var(--side-nav-width);
    height: 110%;
    overflow-x: hidden;
    background-color: var(--black);
    padding-top: 10px;   
  }

  .SideNavActive{
    margin-left: 0px !important;
    position: fixed;
    width: var(--side-nav-width);
    height: 110%;
    overflow-x: hidden;
    background-color: var(--black);
    padding-top: 10px;   
  }

  .DashboardActive{
    background-color: var(--dark-grey);
    height: 100vh;
    width: calc(100% - var(--side-nav-width));
    position: fixed;
    /* border: 3px solid orange; */
    margin-left: var(--side-nav-width);
    padding: 15px 15px 15px 15px; 
    transition: margin 0.3s;
  }

    /* extra-large breakbpoint changes */
  @media screen and (max-width: 1200px) {
    .ApexDeploymentContent{
        height: calc(100vh - var(--xl-breakpoint-header-height))
    }
  }

   /* large breakbpoint changes */
   @media screen and (max-width: 992px) {
    .ApexDeploymentContent{
        height: calc(100vh - var(--lg-breakpoint-header-height))
    }
  }

  /* medium breakbpoint changes */
  @media screen and (max-width: 768px) {
    .SideNav{
        margin-left: -90px;
        transition: margin 0.3s;
    }

    .Dashboard{
        width: 100%;
        margin-left: 0px;
        transition: margin 0.3s;
    }
}


  .wrt-logo{
    width: 100%;
  }

  .wrt-logo-wrapper{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 60px;
  }

  .wrt-header{
      margin-bottom: 0px;
  }


  .icon {
    color: var(--light-text);
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .icon-group{
    /* border: 2px solid green; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active{
      background-color: var(--blue);
  }

  .ApexCards{
    min-width: 280px;
    max-height: 90vh; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-left: 5px;
    border: 0px solid green;
  }

  .ApexCards::-webkit-scrollbar {
    display: none;
  }


.ApexCard{
    background-color: var(--light-grey) !important;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 230px;
    min-width: 230px !important;
    min-height: 100px;
}

.CardWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.ApexCard.active{
    background-color: var(--blue) !important;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
transform: scale(1.03); 
}

.Circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

  .ApexDeployment{
      display: flex;
  }



@media screen and (max-width: 992px) {

    .ApexDeployment{
        flex-direction: column;
    }

    .ApexCards{
        width: 100%;
        flex-direction: row;
        overflow: auto;
    }

    .ApexCard{
        min-width: 200px;
    }

}

.NoMarginParagraph{
    margin-bottom: 0px;
}

.ApexTopRow{
    min-width: 100%;
    min-height: 500px;
    /* border: 2px solid blue; */

}

.ApexBottomRow{
    min-height: 450px;
    /* height: 100%; */
    /* max-height: 450px; */
    /* border: 2px solid blue; */
}

.ApexDeploymentContent{
    width: 100%;
    overflow-y: auto;
    overflow-x: none;
    max-height: calc(100vh - var(--xl-breakpoint-header-height))
}

  .ApexToprowTile{
      /* border: 2px solid red; */
      padding-bottom: 20px;
}


  .ApexSnapshot{
    min-width: 100%;
    min-height: 100%;    
    border-radius: 20px;
    background-color: var(--black);
    padding: 25px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ApexSnapshotLoader{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ApexImageWrapper{
    width: 100%;
    /* max-width: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.ActiveFromText{
    color: var(--orange);
}

.ApexImage{
    width: 100%;
    max-width: 220px;
}

.ApexHeaderText{
    font-size: 3.5em;
}

.cesium-widget-credits{
    display:none !important;
  }
  
#cesium-container{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
    border-radius: 20px !important;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
  
.cesium-viewer{
    height: 100%;

  }

  .TopNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .avatar{
    background-color: var(--blue);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .avatarWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 2;
    padding: 5px 0px 5px 5px;
  }

.MainPanel{
    margin-top: 30px;
}

.ApexDatatableWrapper{
    border-radius: 20px;
    overflow: hidden !important;
    /* border: 2px solid red; */
    height: 430px;
}

.Placeholder{
    color: var(--extra-light-grey);
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 10px;
}

.ApexInsightsWrapper{
    /* border: 2px solid red; */
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.ApexInsightItem{
    color: var(--orange);
    font-size: 3.5em;
    padding-right: 10px;
    padding: 0px 0px 00px 0px;
    /* border: 1px solid green; */
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ApexInsightItemWrapper{
    display: flex;
    /* border: 2px solid blue; */
    width: 100%;
    max-width: 350px;
    padding: 10px 0px 10px 0px;
    /* justify-content: space-between; */
    align-items: end;
}

.ApexInsightItemSpan{
    padding-bottom: 15px;
    padding-left: 20px;  
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.LoginFormWrapper{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 200px;
    min-height: 100vh;
    background-color: var(--dark-grey);
    /* background-color: var(--black); */
    color: var(--light-text);
}

.LoginEntry{
    /* border: 2px solid red; */
    min-width: 100%;
    /* max-width: 350px; */
    min-width: 320px;
    height: 110px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
}

.LoginButton{
    max-width: 150px;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.1em;
    background-color: var(--blue);
    color: var(--light-text);
    margin-top: 10px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonText{
    padding-right: 10px;
    padding-left: 10px;
}

.InputFormatting{
    border-radius: 8px;
    min-height: 50px;
    padding-left: 10px;
    margin-top: 5px;
    background-color: black;
    color: var(--light-text);
    border: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: var(--light-text) !important;
}

.LoginForm{
    /* background-color: var(--light-grey); */
    /* padding: 20px 10px 20px 10px; */
    border-radius: 20px;
}

.WrtLoginLogoWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--black); */
    padding: 20px 20px 20px 20px;
    border-radius: 20px 20px 0px 0px;
}

.FormErrorMessage{
    padding-top: 3px;
    color: #EB0000;
    font-size: .8em;
}

.LoginInput{
    font-size: 1em;
}

.AvatarButtonGroup{
    display: flex;
    align-items: center;
}