.App {
  text-align: center;
}

.cesium-widget-credits{
  display:none !important;
}

#cesium-container{
  width: 100vw;
  height: 100vw;
  /* margin-left: 20px;
  margin-top: 20px; */
  background-color: black;
  border-radius: 20px !important;
  overflow: hidden;
}

.cesium-viewer{
  min-height: 100%;
}